*{
	box-sizing: border-box;
}

body { /* 加了body的外边距和内边距，padding才好用。zqy*/
	margin: 0; 
	padding: 0;
}

.block, .container {
	padding: 20px; 
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.block {
	width: 150px;
	display: block;
	border: 1px solid #f00;
	margin-bottom: 20px;
}

.block1 {
	height: 120px;
}
.block2 {
	height: 100px;
}
.block3 {
	height: 40px;
}
.block4 {
	height: 200px;
	border-color: #0f0;
}

@media screen and (max-width: 640px){
	.container {
	    align-items: flex-start;
	    flex-wrap: wrap;
	}
	.block4 {
	    order: -1;
	}
}